@model ProyectoMVCDatos.Models.ENFERMO
@{
    ViewBag.Title = "Crear";
} 

<h2>Crear</h2>

<form class="form-group" method="post">
    <hr />
    <label>Inscripción</label>
    <input type="number" class="form-control" name="insc"/>
    <label>Apellido</label>
    <input type="text" class="form-control" name="apellido" />
    <label>Dirección</label>
    <input type="text" class="form-control" name="direccion" />
    <label>Fecha de Nacimiento</label>
    <input type="datetime" class="form-control" name="fecha_nac" />
    <label>Sexo</label>
    <input type="text" class="form-control" name="s" />
    <label>Número de la SS</label>
    <input type="text" class="form-control" name="nss" />
    <hr />
    <button type="submit" class="btn-info">Crear Enfermo</button>
</form>

