
@{
    ViewBag.Title = "YouTube";
}

<h2>YouTube: Devolver un contenido String</h2>

@using (Html.BeginForm())
{
    <label>Url YouTube:</label>
    <input type="text" name="video" class="form-control"/>
    <button type="submit" class="btn-success">Mostrar vídeo</button>
}
