<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="colorletra" value="Blue"/>    
  </appSettings>
  <connectionStrings>
    <add name ="conexiontajamar" connectionString="Data Source=LOCALHOST;Initial Catalog=Hospital;Persist Security Info=True;User ID=SA;Password=MCSD2019" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>