@using ProyectoMVCDatos.Models
@model List<EMP>
@{
    ViewBag.Title = "Index";
}

@{
    //CODIGO PARA DECLARAR VARIABLES
    // CODIGO PURO EN C# SIN CASTING
    List<String> oficios = ViewBag.Oficios;
}


<h2>Empleados Oficio</h2>

<form method="post">
    <select name="oficio" class="form-control">
        <option>Seleccione</option>
        @foreach (String ofi in oficios)
        {
            <option>@ofi</option>

        }
    </select>
    <button type="submit" class="btn-success">Mostrar Empleados</button>
</form>

@if (Model != null)
{
<table class="table-bordered table-responsive table" >
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Salario</th>  
        </tr>
    </thead>
    <tbody>
        @foreach (EMP emp in Model)
        {
        <tr>
            <td>@emp.APELLIDO</td>
            <td>@emp.OFICIO</td>
            <td>@emp.SALARIO</td>

        </tr>
        }
    </tbody>
</table>

}



