@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Perfil";
}

<h2>Bienvenido a tu Perfil</h2>

<h1>@UserManager.GetUserName(User);
    @*@User.*@</h1>

<ul>
    @foreach (var claim in User.Claims)
    {
    <li>@claim.Value || @claim.Type</li>
    }
    
</ul>