
@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

<form method="post">
    <label>Número de departamento:</label>
    <input type="number" name="deptno" class="form-control" />
    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control"/>
    <label>Localización:</label>
    <input type="text" name="loc" class="form-control"/>
    <button type="submit">Crear</button>
    @*<dialog class="modal-dialog">Se ha añadido un nuevo departamento </dialog>*@
</form>

