@if (Context.User.Identity.IsAuthenticated == false)
{
    <a asp-action="Perfil" asp-controller="Usuario" class="btn-success btn"> Log In</a>
}
else
{
    <h2>@Context.User.Identity.Name</h2>
    <a asp-action="CerrarSesion" asp-controller="Manage" class="btn-danger btn"> Cerrar Sesión</a>
}