@section styles {
    <style>
        img {
            width:150px;
            height: 100px;
        }
    </style>
    }

<div class="jumbotron">
    <h1>Servicio Api Coches</h1>
    <button type="button" class="btn-success btn" id="btn">Mostrar Coches</button>
    <hr />
    <table class="table table-bordered table-striped" id="tabla">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Conductor</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
</div>

@section scripts{
    <script>

        $(document).ready(function () {
            $("#btn").click(function () {
                $.ajax({
                    url: "/api/Coches",
                    type: "GET",
                    datatype: "application/json",
                    success: function (data) {
                        console.log("Leyendo...");
                        var html = "";
                        $.each(data, function (pos, coche) {
                            html += "<tr>";

                            html += "<td>" + coche.Marca + "</td>";
                            html += "<td>" + coche.Modelo + "</td>";
                            html += "<td>" + coche.Conductor + "</td>";
                            html += "<td><img src='" + coche.Imagen + "'/></td>";

                            html += "</tr>";
                        });
                        $("#tabla tbody").html(html);
                    }
                });
            });
        });
    </script>
    
    }
