
@{
    ViewBag.Title = "Imagenes";
}

<h2>Imagenes</h2>

@section img {
    <h3>Imagen con RenderSection()</h3>
    <img src="~/Assets/Bosque.jpg" />
}

@section footer
{
    <footer>
        <p>Nuevo footer para la nueva página de imágenes.</p>
    </footer>
}

<h3>Imagen con RenderBody()</h3>
<img src="~/Assets/Invierno.jpg" />

