
@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>

<form method="post">
    <div>
        <label>Email:</label>
        <input class="form-control" name="email" />
    </div>
    <div>
        <label>Password:</label>
        <input class="form-control" name="pass" />
    </div>
    <button type="submit">Entrar</button>
</form>
<h1>@ViewBag.M </h1>
<h1>@ViewBag.MensajeError</h1>
<h1>@ViewBag.c</h1>