@model List<int?>
@{
    ViewBag.Title = "Multiplicar";
}

<h2>Multiplicar</h2>

<form method="post">
    <label>Número:</label>
    <input type="number" name="num" class="input-sm" />
    <button type="submit" class="btn-success">Calcular</button>
</form>

@if (Model != null)
{
    <ul>
        @foreach (int? numero in Model)
        {

        <li>@numero</li>
         }
    </ul>
}




