
@{
    ViewBag.Title = "SumarNumeros";
}

<h2>SumarNumeros</h2>

<fieldset>
    <form method="post">
        <label>Número 1: </label>
        <input type="number" class="input-sm" name="numero1"/>
        <label>Número 2: </label>
        <input type="number" class="input-sm" name="numero2"/>
        <button type="submit" class="btn-success">Sumar Números</button>
    </form>
</fieldset>
<p>@ViewBag.Dato</p>

