@using ProyectoMVCDatos.Models
@model List<DEPT>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<dl>
    @foreach (DEPT dept in Model) { 
        <dt><b>@dept.DNOMBRE</b></dt>
        <dd>Número: @dept.DEPT_NO</dd>
        <dd>Localidad: @dept.LOC</dd>
    }
</dl>