
@{
    ViewData["Title"] = "LogIn";
}

<h2>Log In</h2>

<form method="post">
    <div>
        <label>Usuario;</label>
        <input name="nombre" class="form-control" type="text" />
    </div>
    <div>
        <label>Password;</label>
        <input name="id" class="form-control" type="number" />
    </div>
    <button class="btn-success" type="submit">Log In</button>
</form>

<h1>@ViewData["MENSAJE"]</h1>