@using ProyectoMVCDatos.Models
@model List<HOSPITAL>
@{
    ViewBag.Title = "VerHospital";
}

<h2>Ver Hospital</h2>

@*<select name="cod_Hospi">*@
    @foreach (HOSPITAL hospi in Model)
    {
        @*<option value="@hospi.HOSPITAL_COD">*@
    <p>
        @Html.ActionLink(@hospi.NOMBRE, "VerPlantilla", "HospitalPlantilla"
       , new { cod_Hospi = hospi.HOSPITAL_COD }, null)
        @*</option>*@
    </p>
    }

@*</select>*@

