
@{
    ViewBag.Title = "HoraSistema";
}

<h2>Ejemplo de Caching</h2>

<h2 style="color:blue">@ViewBag.Fecha</h2>

<ul>
    <li>@Html.ActionLink("Dato 1", "HoraSistema", "Caching", new { dato = 1 }, null)</li>
    <li>@Html.ActionLink("Dato 2", "HoraSistema", "Caching", new { dato = 2 }, null)</li>
</ul>
