@inject SignInManager<IdentityUser> SigningManager
@inject UserManager<IdentityUser> UserManager


@if (SigningManager.IsSignedIn(User))
{
    //Si el usuario se ha validado con Microsoft

    <form class="form-inline my-2 my-lg-0"
          asp-area="Identity" asp-page="/Account/Logout"
          asp-route-returnUrl="@Url.Action("Index", "Home")"
          method="post" id="logoutForm">>
        <span style="color:white; padding-left: 10px;">
            @UserManager.GetUserName(User)
            @*@User.Identity.Name*@
        </span>
        <button class="btn btn-outline-success my-2 my-sm-0"
                style="padding-left: 10px;"
                type="submit">
            Cerrar sesión
        </button>
    </form>
}






