
@{
    ViewBag.Title = "Prueba";
}

<h2>Prueba</h2>

<h1>@ViewBag.Dato</h1>

<form method="post">
    <input type="text" name="dato"/>
    <button type="submit">
        Mostrar dato
    </button>
</form>